html, body {
    font-family: 'Helvetica', Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
img{
    max-width:100px;
}
#main {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    /* padding-top: 10px; */
    background-image: url('PNG-cards/blackjackBG.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}
#dealersCards, #playersCards {
    height: 165px;
}
#dealerContainer, #playerContainer {
    height: 45%;
}
#dealerContainer h2, #playerContainer h2 {
    padding-top: 10px;   
    color: #fff;
    font-weight: normal;
    font-size: 16pt;
    margin: 0;
}
#overlay {
    display: block;
    position: absolute;
    width: 30%;
    height: 100px;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    color: #fff;
}
#gameResults {
    margin: 10px;
}
#hitButton, #stayButton {
    display: none;
}
#discardCards, #dealerShoe{
    position: absolute;
    top: 50%; bottom: 50%;
    margin: auto 5%;
}
#dealerShoe {
    right: 0;
}

